# http://stackoverflow.com/questions/16388959/url-rewriting-with-php
# http://httpd.apache.org/docs/2.2/mod/mod_dir.html#fallbackresource

FallbackResource ../baker.php

# RewriteEngine on
# RewriteRule ^ - [E=protossl]
# RewriteCond %{HTTPS} on
# RewriteRule ^ - [E=protossl:s]
# RewriteRule "(^|/)\." - [F]
# RewriteCond %{REQUEST_FILENAME} !-f
# RewriteCond %{REQUEST_FILENAME} !-d
# RewriteCond %{REQUEST_URI} !=/favicon.ico
# RewriteRule ^ index.php [L]

