# http://stackoverflow.com/questions/16388959/url-rewriting-with-php
# http://httpd.apache.org/docs/2.2/mod/mod_dir.html#fallbackresource
# https://www.drupal.org/node/2669174

<IfModule mod_rewrite.c>
    RewriteEngine on
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} !=/favicon.ico
    RewriteRule ^ ../baker.php [L]
</IfModule>

<IfModule !mod_rewrite.c>
    FallbackResource ../baker.php
</IfModule>

