<IfModule mod_rewrite.c>
    RewriteEngine on
    RewriteRule ^sakai-config/(.*)$ sakai-config.php?guid=$1 [L,QSA]
    RewriteRule ^ims-config/(.*)$ ims-config.php?guid=$1 [L,QSA]
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} !=/favicon.ico
    RewriteRule ^ route.php [L]
</IfModule>

<IfModule !mod_rewrite.c>
    FallbackResource route.php
</IfModule>

