# http://stackoverflow.com/questions/16388959/url-rewriting-with-php
# http://httpd.apache.org/docs/2.2/mod/mod_dir.html#fallbackresource

# Seems not to always work - sheesh
# FallbackResource index.php

# Turn rewriting on
Options +FollowSymLinks
RewriteEngine On
# Redirect requests to index.php
RewriteCond %{REQUEST_URI} !\.(?:css|js|jpe?g|gif|png)$ [NC]
RewriteRule .* index.php

